name: Security

on:
  push:
    paths:
      - '**/go.mod'
      - '**/go.sum'

env:
  EARTHLY_REMOTE_CACHE: "earthly-ghcr-cache,image-manifest=true,oci-mediatypes=true,ref=${{ vars.REMOTE_CACHE_REGISTRY }}"

jobs:
  govulncheck:
    name: Go Vulnerabilities Report
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    env:
      FORCE_COLOR: 1
    steps:
      - uses: earthbuild/actions-setup@main
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Govulncheck
        run: earthly --ci +govulncheck
