name: Security

on:
  push:
    paths:
      - '**/go.mod'
      - '**/go.sum'

jobs:
  govulncheck:
    name: Go Vulnerabilities Report
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    env:
      FORCE_COLOR: 1
    steps:
      - uses: earthbuild/actions-setup@main
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Govulncheck
        run: earthly --ci +govulncheck
