name: Tagged Release

on:
    release:
        types: [published]

env:
    EARTHLY_REMOTE_CACHE: "earthly-ghcr-cache,image-manifest=true,oci-mediatypes=true,ref=${{ vars.REMOTE_CACHE_REGISTRY }}"

jobs:
    add-artifacts-to-release:
        runs-on: ubuntu-24.04-arm
        permissions:
            contents: write
            actions: read
            packages: write
        env:
            FORCE_COLOR: 1
        steps:
            - uses: earthbuild/actions-setup@main
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  ref: ${{ github.event.release.tag_name }}
                  fetch-depth: 0
            - name: Copy pre-built artifacts to release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  RELEASE_TAG: ${{ github.event.release.tag_name }}
              run: |
                  earthly --ci --push --secret GITHUB_TOKEN=${{ env.GITHUB_TOKEN }} ./release+promote-artifacts-to-gh \
                      --RELEASE_TAG=${{ env.RELEASE_TAG }}
    release-images-to-dockerhub:
        runs-on: ubuntu-24.04-arm
        permissions:
            contents: read
            packages: write
        env:
            FORCE_COLOR: 1
        steps:
            - uses: earthbuild/actions-setup@main
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  ref: ${{ github.event.release.tag_name }}
                  fetch-depth: 0
            - name: Copy images from GHCR.io to DockerHub
              env:
                  DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
                  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
                  
                  GHCR_USERNAME: ${{ github.actor }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  
                  RELEASE_TAG: ${{ github.event.release.tag_name }}
              # TODO: set usernames for docker
              run: |
                  earthly --ci --push --secret CONTAINER_REGISTRY_TOKEN=${{ env.GITHUB_TOKEN }} \
                      --secret DEST_CONTAINER_REGISTRY_TOKEN=${{ env.DOCKERHUB_TOKEN }} \
                      ./release+promote-to-dockerhub \
                      --RELEASE_TAG="${{ env.RELEASE_TAG }}" \
                      --CONTAINER_REGISTRY_USER="${{ env.GHCR_USERNAME }}" \
                      --DST_CONTAINER_REGISTRY_USER="${{ env.DOCKERHUB_USERNAME }}"
